/*****header (width: 320px)*****/

.sub-menu--hidden,
.divider--hidden,
.main-menu__text--hidden {
  display: none;
}

.header__container {
  padding: 0 16px;
}

.header {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #D9FFF5;
  &__inner {
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.side-navigation {
  display: flex;
  align-items: center;
}

.burger {
  margin-right: 16px;
}

.main-menu {
  display: flex;
  align-items: center;
  &__item-status {
    margin-left: 16px;
  }
  &__item-repair {
    margin-left: 20px;
  }
}

.divider {
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
}

/*****header(width: 768px)*****/

@media (min-width: 768px) {
  .sub-menu--hidden,
  .divider--hidden {
    display: block;
  }

  .header__container {
    padding: 0 24px;
  }

  .burger {
    margin-right: 20px;
  }

  .divider--hidden {
    margin-right: 20px;
  }

  .menu {
    display: flex;
    padding-right: 16px;
  }

  .sub-menu {
    display: flex;
    &__item {
      margin-right: 16px;
    }
    &__item:last-child {
      margin-right: 20px;
    }
  }
}
